/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar-nav a.active
{
  color: #1C85C8 !important;
  font-size: 20px;
}
